<ion-view style="" class=" " title="{{ label.cardiovascularView.title }}">
    <app-header></app-header>
    <ion-content class="has-header has-footer contentMargin" padding="false" ng-controller="cardiovascularEditCtrl">

        <div style="padding:10px 10px 5px 10px;">
            <form name="myform" ng-submit="submit()">
                <label class="item-input borderBottom">
                    <span style="width:45%" class="input-label">{{ label.cardiovascularView.totalCholestrolText }} (mg/dL)</span>
                    <input type="number" ng-focus="totalCholestrolText=true" ng-blur="totalCholestrolText=false" name="totalCholestrol" ng-model="totalCholestrol" placeholder="130-320" min="1" style="text-align:right" required>
                </label>
                <div role="alert" style="padding:5px" ng-show="!totalCholestrolText">
                    <span class="error font-size-10" ng-show="myform.totalCholestrol.$error.required" style="color:red">
        {{ message.common.required }}</span>
                </div>
                <div class="seperatorDiv spacer"></div>
                <label class="item-input borderBottom">
                    <span style="width:45%" class="input-label">{{ label.cardiovascularView.hdlCholestrolText }} (mg/dL)</span>
                    <input type="number" ng-focus="hdlCholestrolText=true" ng-blur="hdlCholestrolText=false" name="hdlCholestrol" ng-model="hdlCholestrol" placeholder="20-100" min="1" style="text-align:right" required>
                </label>
                <div role="alert" style="padding:5px" ng-show="!hdlCholestrolText">
                    <span class="error font-size-10" ng-show="myform.hdlCholestrol.$error.required" style="color:red">
        {{ message.common.required }}</span>
                </div>
                <div class="seperatorDiv spacer"></div>
                <button type="submit" ng-click="editCardiovascular()" ng-disabled="myform.$invalid" class=" button button-assertive  button-block buttonColor font-size-12">{{ label.common.saveText }}</button>
            </form>

        </div>
    </ion-content>
    <ion-subfooter-bar class="bar bar-subfooter bar-light" ng-if="showFooter">
        <div style="margin: auto;padding-top: 5px;text-align:center;background:#072a29">
            <h4 class="footerText" ng-click="openLink('https://wellness.healthwizz.net/wellness/#/home/contact')">{{ label.common.footerText }}</h4>
            <span style="margin-left:2px;" ng-click="hideFooter()"><i class="icon ion-ios-close-outline" style="color: #fff;"></i></span>
        </div>
    </ion-subfooter-bar>
    <ion-footer-bar align-title="center" class="bar-positive darkGreenBackgroundFooter" ng-controller="footerCtrl">
        <div class="tabs tabs-positive tabs-icon-top darkGreenBackgroundFooter">
            <a class="tab-item removeOpacity" nav-direction="forward" ui-sref="menu.dashboard">
                <i class="icon ion-home"></i> {{ label.common.footerHomeText }}
            </a>
            <a class="tab-item removeOpacity" nav-direction="forward" ng-click="openLangModal()">
                <i class="icon ion-earth"></i>{{ label.common.footerLanguageText }}
            </a>
            <a class="tab-item removeOpacity" nav-direction="forward" ui-sref="menu.deviceDashboard">
                <i class="icon ion-android-wifi"></i> {{ label.common.footerDeviceText }}
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
