<ion-view style="" class=" " title="{{ label.depressionView.title }}">
    <app-header></app-header>
    <ion-content class="has-header has-footer contentMargin" padding="false" ng-controller="depressionEditCtrl">

        <div style="padding:10px 10px 5px 10px;">
            <span style="font-weight:bold" class=" font-size-12">{{ label.depressionView.depressionEditQuestionHeadingText }}</span>

            <div class=" font-size-12" style="width:100%;margin-top:5%">1. {{ label.depressionView.interestLabel }}</div>
            <label style="border:none;padding:16px" class="item borderBottom  item-select">
                <span class="input-label selectLabel" style="width:0%;"></span>
                <select class="" style="max-width:100%;left:0" ng-model="interest">
                    <option value="NOT AT ALL">{{ label.depressionView.notAtAllText }}</option>
                    <option value="SEVERAL DAYS">{{ label.depressionView.severalDaysText }}</option>
                    <option value="MORE THAN HALF THE DAYS">{{ label.depressionView.moreThanHalfText }}</option>
                    <option value="NEARLY DAY">{{ label.depressionView.nearlyDayText }}</option>
                </select>
            </label>

            <div class="seperatorDiv spacer"></div>
            <div class=" font-size-12" style="width:100%;margin-top:5%">2. {{ label.depressionView.feelingDownLabel }}</div>
            <label style="border:none;padding:16px" class="item borderBottom  item-select">
                <span class="input-label selectLabel" style="width:0%;"></span>
                <select class="" style="max-width:100%;left:0" ng-model="feelingDown">
                    <option value="NOT AT ALL">{{ label.depressionView.notAtAllText }}</option>
                    <option value="SEVERAL DAYS">{{ label.depressionView.severalDaysText }}</option>
                    <option value="MORE THAN HALF THE DAYS">{{ label.depressionView.moreThanHalfText }}</option>
                    <option value="NEARLY DAY">{{ label.depressionView.nearlyDayText }}</option>
                </select>
            </label>

            <div class="seperatorDiv spacer"></div>

            <div class=" font-size-12" style="width:100%;margin-top:5%">3. {{ label.depressionView.sleepLabel }}</div>
            <label style="border:none;padding:16px" class="item borderBottom  item-select">
                <span class="input-label selectLabel" style="width:0%;"></span>
                <select class="" style="max-width:100%;left:0" ng-model="sleep">
                    <option value="NOT AT ALL">{{ label.depressionView.notAtAllText }}</option>
                    <option value="SEVERAL DAYS">{{ label.depressionView.severalDaysText }}</option>
                    <option value="MORE THAN HALF THE DAYS">{{ label.depressionView.moreThanHalfText }}</option>
                    <option value="NEARLY DAY">{{ label.depressionView.nearlyDayText }}</option>
                </select>
            </label>

            <div class="seperatorDiv spacer"></div>

            <div class=" font-size-12" style="width:100%;margin-top:5%">4. {{ label.depressionView.tiredLabel }}</div>
            <label style="border:none;padding:16px" class="item borderBottom  item-select">
                <span class="input-label selectLabel" style="width:0%;"></span>
                <select class="" style="max-width:100%;left:0" ng-model="tired">
                    <option value="NOT AT ALL">{{ label.depressionView.notAtAllText }}</option>
                    <option value="SEVERAL DAYS">{{ label.depressionView.severalDaysText }}</option>
                    <option value="MORE THAN HALF THE DAYS">{{ label.depressionView.moreThanHalfText }}</option>
                    <option value="NEARLY DAY">{{ label.depressionView.nearlyDayText }}</option>
                </select>
            </label>

            <div class="seperatorDiv spacer"></div>

            <div class=" font-size-12" style="width:100%;margin-top:5%">5. {{ label.depressionView.appetiteLabel }}</div>
            <label style="border:none;padding:16px" class="item borderBottom  item-select">
                <span class="input-label selectLabel" style="width:0%;"></span>
                <select class="" style="max-width:100%;left:0" ng-model="appetite">
                    <option value="NOT AT ALL">{{ label.depressionView.notAtAllText }}</option>
                    <option value="SEVERAL DAYS">{{ label.depressionView.severalDaysText }}</option>
                    <option value="MORE THAN HALF THE DAYS">{{ label.depressionView.moreThanHalfText }}</option>
                    <option value="NEARLY DAY">{{ label.depressionView.nearlyDayText }}</option>
                </select>
            </label>


            <div class="seperatorDiv spacer"></div>

            <div class=" font-size-12" style="width:100%;margin-top:5%">6. {{ label.depressionView.failureLabel }}</div>
            <label style="border:none;padding:16px" class="item borderBottom  item-select">
                <span class="input-label selectLabel" style="width:0%;"></span>
                <select class="" style="max-width:100%;left:0" ng-model="failure">
                    <option value="NOT AT ALL">{{ label.depressionView.notAtAllText }}</option>
                    <option value="SEVERAL DAYS">{{ label.depressionView.severalDaysText }}</option>
                    <option value="MORE THAN HALF THE DAYS">{{ label.depressionView.moreThanHalfText }}</option>
                    <option value="NEARLY DAY">{{ label.depressionView.nearlyDayText }}</option>
                </select>
            </label>

            <div class="seperatorDiv spacer"></div>

            <div class=" font-size-12" style="width:100%;margin-top:5%">7. {{ label.depressionView.concentratingLabel }}</div>
            <label style="border:none;padding:16px" class="item borderBottom  item-select">
                <span class="input-label selectLabel" style="width:0%;"></span>
                <select class="" style="max-width:100%;left:0" ng-model="concentrating">
                    <option value="NOT AT ALL">{{ label.depressionView.notAtAllText }}</option>
                    <option value="SEVERAL DAYS">{{ label.depressionView.severalDaysText }}</option>
                    <option value="MORE THAN HALF THE DAYS">{{ label.depressionView.moreThanHalfText }}</option>
                    <option value="NEARLY DAY">{{ label.depressionView.nearlyDayText }}</option>
                </select>
            </label>


            <div class="seperatorDiv spacer"></div>

            <div class=" font-size-12" style="width:100%;margin-top:5%">8. {{ label.depressionView.movingLabel }}</div>
            <label style="border:none;padding:16px" class="item borderBottom  item-select">
                <span class="input-label selectLabel" style="width:0%;"></span>
                <select class="" style="max-width:100%;left:0" ng-model="moving">
                    <option value="NOT AT ALL">{{ label.depressionView.notAtAllText }}</option>
                    <option value="SEVERAL DAYS">{{ label.depressionView.severalDaysText }}</option>
                    <option value="MORE THAN HALF THE DAYS">{{ label.depressionView.moreThanHalfText }}</option>
                    <option value="NEARLY DAY">{{ label.depressionView.nearlyDayText }}</option>
                </select>
            </label>

            <div class="seperatorDiv spacer"></div>

            <div class=" font-size-12" style="width:100%;margin-top:5%">9. {{ label.depressionView.thoughtsLabel }}</div>
            <label style="border:none;padding:16px" class="item borderBottom  item-select">
                <span class="input-label selectLabel" style="width:0%;"></span>
                <select class="" style="max-width:100%;left:0" ng-model="thoughts">
                    <option value="NOT AT ALL">{{ label.depressionView.notAtAllText }}</option>
                    <option value="SEVERAL DAYS">{{ label.depressionView.severalDaysText }}</option>
                    <option value="MORE THAN HALF THE DAYS">{{ label.depressionView.moreThanHalfText }}</option>
                    <option value="NEARLY DAY">{{ label.depressionView.nearlyDayText }}</option>
                </select>
            </label>


            <a ng-click="modifyDepression()" class=" button button-assertive  button-block buttonColor font-size-12">{{ label.common.saveText }}</a>
        </div>
    </ion-content>
    <ion-subfooter-bar class="bar bar-subfooter bar-light" ng-if="showFooter">
        <div style="margin: auto;padding-top: 5px;text-align:center;background:#072a29">
            <h4 class="footerText" ng-click="openLink('https://wellness.healthwizz.net/wellness/#/home/contact')">{{ label.common.footerText }}</h4>
            <span style="margin-left:2px;" ng-click="hideFooter()"><i class="icon ion-ios-close-outline" style="color: #fff;"></i></span>
        </div>
    </ion-subfooter-bar>
    <ion-footer-bar align-title="center" class="bar-positive darkGreenBackgroundFooter" ng-controller="footerCtrl">
        <div class="tabs tabs-positive tabs-icon-top darkGreenBackgroundFooter">
            <a class="tab-item removeOpacity" nav-direction="forward" ui-sref="menu.dashboard">
                <i class="icon ion-home"></i> {{ label.common.footerHomeText }}
            </a>
            <a class="tab-item removeOpacity" nav-direction="forward" ng-click="openLangModal()">
                <i class="icon ion-earth"></i>{{ label.common.footerLanguageText }}
            </a>
            <a class="tab-item removeOpacity" nav-direction="forward" ui-sref="menu.deviceDashboard">
                <i class="icon ion-android-wifi"></i> {{ label.common.footerDeviceText }}
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
