<ion-view style="" class=" " title="{{ label.forgotPassword.title }}">
    <ion-content class="has-header" style="margin-top: 5%;" padding="true">
        <div style="text-align:center" class=" font-size-16">{{ label.forgotPassword.label }}</div>
        <form class="list" name="myForm" ng-submit="submit()">
            <ion-list class=" ">
                <label style="border-bottom:1px solid #bfbfbf" class=" item-input item-floating-label">
                    <span class="input-label">{{ label.common.email }}</span>
                    <input type="email" placeholder="{{ label.common.email }}" name="email " placeholder="Email " ng-model="email" required ng-focus="resetEmailValidation=true">
                </label>
                <div role="alert" style="padding:5px" ng-hide="resetEmailValidation">
                    <span class="error" ng-show="myForm.email.$error.required" style="color:red">
         {{ message.common.required }}</span>
                    <span class="error" ng-show="myForm.email.$error.email" style="color:red">
       {{ message.common.invalidEmail }}</span>
                </div>
            </ion-list>
            <div style="height: 40px; " class="spacer "></div>
            <button type="submit" ng-click="resetPassword(email)" ng-disabled="!myForm.$valid" class=" button button-assertive button-block buttonColor font-size-14 ">{{ label.forgotPassword.resetPasswordButtonText }}</button>
            <div class="seperateOR">OR</div>
            <button class=" button button-assertive  button-block buttonColor font-size-14" on-tap="goToSignup()">{{ label.common.registerText }}</button>
        </form>
    </ion-content>
</ion-view>
