<ion-view style="background-color: white" class="" title="My Medical Records">
    <ion-content scroll="false">
        <div class="list" ng-controller="mymedicalrecordsCtrl">

            <button type="text" class="record-button" style="background-color: #71c99a" ng-click="getmedicalrecords()">Get Medical Records</button>

            <button type="text" class="record-button" style="background-color: #41c4cd;" ng-click="sharemedicalrecords()">Share Medical Records</button>

            <button type="text" class="record-button" style="background-color: #a9a5d2;" ng-click="seemedicalrecords()">View Medical Records</button>

        </div>
    </ion-content>
    
</ion-view>