<ion-view style="" class=" " title="Your Appointments">
    <div class="bar bar-subheader firstSubHeaderColor" style="height:5%">
        <div>
            <div style="height:25px">
                <span style="float:left">{{ userName }}</span>
                <span style="float:right">4:30 PM, 26 May</span>
            </div>


        </div>
    </div>
    <ion-content style="margin-top:5%" class="has-header" padding="true">


        <div class="list card borderBottom" style="box-shadow:none;">
            <ion-item style="border:none" class="item-avatar">
                <img src="img/hUI1DehkSP9MznnF5X4w_images (3).jpg">
                <h2>Date: 05/26/2016</h2>
                <p>Dr. Ethan</p>
                <p>XYZ Hospital</p>
                <p>Address:</p>
                <p>Time: 04:30PM TO 05:00PM</p>
            </ion-item>
            <button class=" button button-dark  button-block buttonColor">Resend Insurance &amp; Concent form</button>
            <button class=" button button-dark  button-block buttonColor">Cancel this Appointment</button>
        </div>
        <h4 class=" " style="color: rgb(0, 0, 0); font-style: italic;">My Previous Appointments</h4>
        <div style="margin-bottom:10px;padding-bottom:10px" class="borderBottom">
            <ion-item style="border:none" class="item-avatar">
                <img src="img/hUI1DehkSP9MznnF5X4w_images (3).jpg">
                <h2>Date: 05/26/2016</h2>
                <p>Dr. Ethan</p>
                <p>XYZ Hospital</p>
                <p>Address:</p>
                <p>Time: 04:30PM TO 05:00PM</p>
            </ion-item>

            <div style="padding:10px">

                <span style="float:right">Write a Review</span>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="borderBottom" style="margin-bottom:10px;padding-bottom:10px">
            <ion-item style="border:none" class="item-avatar">
                <img src="img/hUI1DehkSP9MznnF5X4w_images (3).jpg">
                <h2>Date: 05/26/2016</h2>
                <p>Dr. Ethan</p>
                <p>XYZ Hospital</p>
                <p>Address:</p>
                <p>Time: 04:30PM TO 05:00PM</p>
            </ion-item>

            <div style="padding:10px">

                <span style="float:right">Write a Review</span>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="borderBottom" style="margin-bottom:10px;padding-bottom:10px">
            <ion-item style="border:none" class="item-avatar">
                <img src="img/hUI1DehkSP9MznnF5X4w_images (3).jpg">
                <h2>Date: 05/26/2016</h2>
                <p>Dr. Ethan</p>
                <p>XYZ Hospital</p>
                <p>Address:</p>
                <p>Time: 04:30PM TO 05:00PM</p>
            </ion-item>

            <div style="padding:10px">

                <span style="float:right">Write a Review</span>
            </div>
            <div style="clear:both"></div>
        </div>

    </ion-content>
</ion-view>
